@font-face {
  font-family: "Elden Ring";
  src: url("/src/fonts/Mantinia Regular/Mantinia Regular.otf");
}

h1 {
  color: white;
}
@media only screen and (max-width: 1710px) {
  .talent-page-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
  }
}

.talent,
.boss-container {
  /* border-bottom: 3px solid rgba(95, 220, 238, 0.5); */
  border-radius: 0px 20px 20px;
  min-width: 96.5vw;
  min-height: 100%;
  margin: 0 25px 0px 25px;
}

@media only screen and (max-width: 1710px) {
  .talent {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
  }
}

@media only screen and (max-width: 610px) {
  .talent {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
  }
}
/* NAME HEADERS */
.talent div h1 {
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; */
  font-family: "Elden Ring";
  letter-spacing: 4px;
  margin-top: 2vh;
  font-size: 3em;
}
@media only screen and (max-width: 1710px) {
  .talent div h1 {
    margin-left: auto;
    margin-right: auto;
  }
}
@media only screen and (max-width: 610px) {
  .talent div h1 {
    font-size: 2.5em;
  }
}

@media only screen and (max-width: 430px) {
  .talent div h1 {
    text-align: center;
  }
}

@media only screen and (max-width: 280px) {
  .talent div h1 {
    font-size: 2em;
  }
}

.Ame {
  text-shadow: 0 0 5px #ffefcc, 0 0 5px #ffff00;
}

.Calli {
  text-shadow: 0 0 5px #bf547b, 0 0 5px #ff0000;
}

.Gura {
  text-shadow: 0 0 5px #5abeff, 0 0 5px #add8e6;
}

.Irys {
  text-shadow: 0 0 5px #69035a, 0 0 5px #ff00ff;
}

.Ina {
  text-shadow: 0 0 5px #54396d, 0 0 5px #9400d3;
}

.Kronii {
  text-shadow: 0 0 5px #243a9e, 0 0 5px #0000ff;
}

.boss {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.15) 0%,
      rgba(0, 0, 0, 0.15) 100%
    ),
    radial-gradient(
        at top center,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(0, 0, 0, 0.4) 120%
      )
      #989898;
  background-blend-mode: multiply, multiply;
}
