.sidenav {
  display: flex;
  min-height: 100vh;
  max-height: 250vh;
  min-width: 100vw;
  max-width: 250vw;
  box-shadow: inset 0 0 0 2000px rgb(5, 5, 5, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  background-attachment: fixed;
}

.ame {
  background-image: url("../../images/bg/ame.jpg");
  background-color: #1e1d2b;
}

.gura {
  background-image: url("../../images/bg/gura.jpg");
}

.kronii {
  background-image: url("../../images/bg/kronii.jpg");
}

.calli {
  background-image: url("../../images/bg/calli.jpg");
}

.irys {
  background-image: url("../../images/bg/irys.jpg");
}

.ina {
  background-image: url("../../images/bg/ina.jpg");
}

.boss {
  background-color: #121212;
}
