.sidenav {
  display: flex;
  min-height: 100vh;
  max-height: 250vh;
  min-width: 100vw;
  max-width: 250vw;
  box-shadow: inset 0 0 0 2000px rgb(5, 5, 5, 0.9);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 25%;
  background-attachment: fixed;
}

.ame {
  background-image: url("../../images/bg/ame.jpg");
}

.gura {
  background-image: url("../../images/bg/gura.jpg");
}

.individual {
  background-image: url("../../images/bg/gura.jpg");
}
